<template>
  <div class="gamestatus">
    <section class="section">
        <div class="container">
        <div class="columns is-centered is-vcentered is-mobile">
            <div class="column has-text-centered">
                <h1 class="title">After round {{ currentround - 1 }}</h1>
                <h2 class="subtitle spaceup">{{resultType}}</h2>
                <div v-for="player in rankedplayers" :key="player.id">
                    <Player :name=player.name :tricks=player.tricks :highesttricks=trick_leader.maxtricks :unique=trick_leader.unique /> 
                </div>

                <div v-if=outplayersexist >
                    <h2 class="subtitle spaceup">Out of game</h2>
                    <div  v-for="player in outplayers" :key="player.id">
                        <p class="has-text-centered">{{ player.name}}</p>
                    </div>
                </div>

                <div v-if=freeridetext >
                    <h2 class="subtitle spaceup greentext">{{ freeridetext }}</h2>
                </div>

                <div v-if=tiebreak >
                    <h2 class="subtitle spaceup">Based on cutting the deck, {{ tiebreak.winnername}} will call trumps.</h2>
                    <div  v-for="player in tiebreak.cutcards" :key="player.id">
                        <p> {{ player.name }} <Card :suit=player.suit :number=player.number :readonly=true /></p>
                    </div>
                </div>

                <div v-if=gameOverAdmin >
                    <button class="button is-primary is-rounded spacetop" @click="restartGame" >Start a new game</button>
                </div>
                <div v-if=dealNextHand >
                    <button class="button is-primary is-rounded spacetop" @click="dealCards" >Deal the next hand</button>
                </div>
            </div>
        </div>
        </div>
    </section>
    <!-- <button v-if=wontrick class="button is-primary is-rounded" @click="drawCard">Cut cards</button> -->
    <section class="section">
        <div class="container">
            <!-- <div class="columns is-mobile"> -->

            <!-- </div> -->
        </div>
    </section>
  </div>
</template>

<script>
import Card from './Card.vue'
import Player from './Player.vue'
import { mapState} from 'vuex';
export default {
  name: 'GameStatus',
  components: {
      Card,
      Player,
  },
  data () {
    return {
      username: ''
    }
  },
  computed: {
    ...mapState(['currentround']),
    ...mapState(['players']),
    ...mapState(['outplayers']),
    ...mapState(['hand']),
    ...mapState(['trumps']),
    ...mapState(['code']),
    ...mapState(['admin']),
    ...mapState(['dealer']),
    ...mapState(['tiebreak']),
    trick_leader() {        
        var maxvalue = 0;
        var minvalue = 10;
        for (var i = 0; i < this.players.length; i++) {
            if (this.players[i].tricks > maxvalue) {
                maxvalue = this.players[i].tricks;
            }
          if (this.players[i].tricks < minvalue) {
                minvalue = this.players[i].tricks;
            }
        }
        var maxfreq = 0;
        for (var j = 0; j < this.players.length; j++) {
            if (this.players[j].tricks == maxvalue) {
                maxfreq = maxfreq + 1;
            }
        }
        var unique = true;
        if (maxfreq > 1) {
            unique = false;
        }
    return {'unique': unique, 'maxtricks': maxvalue, 'mintricks': minvalue}
    },
    rankedplayers() {
        return this.players.slice().sort((a, b) => b.tricks - a.tricks)
    },
    outplayersexist() {
        if (this.outplayers.length > 0) {
            return true
        } else {
            return false
        }
    },
    freeridetext() {
        if (this.outplayersexist  == false && this.trick_leader.mintricks == 0) {
            if (this.currentround == 1 + 1) {
                return 'Free ride in first round!';
            } else if (this.currentround == 2 + 1) {
                return "It's a free ride!";
            } else {
                return false;
            }
        } else {
            return false;
        }
    },


    resultType() {
        if (this.players.length > 1) {
            return 'Leaderboard'
        } else {
            return 'Winner'
        }
    },

    gameOverAdmin() {
        if (this.players.length == 1 && this.admin == true) {
            return true
        } else {
            return false
        }
    },

    dealNextHand() {
        if (this.dealer == true && this.players.length > 1) {
            return true
        } else {
            return false
        }
    },

  },
  methods: {
    dealCards () {
        console.log('Deal cards');
        this.$socket.emit('dealCards', JSON.stringify({code : this.code, userid: this.$socket.id})); 
    },
    restartGame () {
        console.log('Game restarted');
        this.$socket.emit('reStartGame', JSON.stringify({code : this.code, userid: this.$socket.id})); 
    },
  },
  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

button.is-primary.is-rounded.spacetop {
    margin-top: 20px;
}


.subtitle.spaceup {
    margin-top: 30px;
}

.subtitle.spaceup.greentext {
    color: darkgreen;
}

</style>
