<template>
  <div class="content">
    <section class="section">
      <div class="container">
        <div class="columns is-centered is-vcentered is-mobile">
          <div class="column is-narrow has-text-centered">
            <div id="lobby" class="lobby">
              <h1 class="title">Whist Game Lobby</h1>
              <h2>Code: {{ code }}</h2>
              <ol id="readylist" type="1">
                <li v-for="player in players" :key="player.id">
                  {{ player.name }}
                </li>
              </ol>
                <p v-if="active == true">
                  <button class="button is-primary is-rounded" v-bind:disabled="insufficientPlayers" @click="startGame">{{startButtonText}}</button>
                </p>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex';
export default {
  name: 'lobby',
  computed: {
    ...mapState(['code']),
    ...mapState(['players']),
    ...mapState(['active']),
    insufficientPlayers: function () {
      return this.players.length < 2
    },
    startButtonText: function () {
      if (this.players.length < 2) {
        return 'Need more players'
      } else {
        return 'Start Game'
      }
    },
  },
  methods: {
    ...mapMutations(['set_gamestate']),
    startGame () {
      // this.set_gamestate('game');
      this.$socket.emit('startGame', JSON.stringify({code : this.code}));     
    }
  }  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

</style>
