<template>
    <span>
       <button v-bind:class="['button', 'is-small', cardClass]" :disabled=readonly @click="selected_trumps">
        <span class="is-size-5">{{ suitlabel }}</span></button>
    </span>
</template>

<script>

import { mapState } from 'vuex';
export default {
    name: 'TrumpCard',
    props: ['suit', 'number', 'id', 'readonly'],
    computed: {
        ...mapState(['suitindex']),
        ...mapState(['numberindex']),
        ...mapState(['active']),
        ...mapState(['code']),
        suitlabel() {
            return this.suitindex[this.suit]
        },
        numberlabel() {
            return this.numberindex[this.number]
        },
        cardClass() {
            if (this.suit == 0 || this.suit == 3) {
                return 'redcard-static'
            } else {
                return 'blackcard-static'
            }
        },
    }, 
    methods: {
        selected_trumps() {
            this.$socket.emit('selectedTrumps', JSON.stringify({code : this.code, userid: this.$socket.id, suit: this.suit})); 
        }
    },
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

button.redcard-static {
  background: #FFF !important;
  color: #FF3860 !important;
  border-color: #FF3860 !important;
}

button.blackcard-static {
  background: #FFF !important;
  color: rgb(0, 0, 0) !important;
  border-color: rgb(0, 0, 0) !important;
}

button.redcard-static:disabled {
  opacity: 1;
}

button.blackcard-static:disabled {
  opacity: 1;
}


</style>