<template>
  <div class="welcome">
  <section class="section">
    <div class="container">
      <div class="columns is-centered is-vcentered is-mobile">
        <div class="column is-narrow has-text-centered">
          <h1 id='maintitle' class="title">Knock-out Whist</h1>
            <!-- <figure class="image is-128x128"> -->
              <img class="image is-128x128 has-image-centered" src="@/assets/cards.png"/>
            <!-- </figure> -->
          <h2 id = "namelabel" class="subtitle">Name <span class='warningtext' v-if="validUsername">(Required)</span></h2>
          <p id='inputpara'><input type="text" v-model="username"/></p>
          <p><button class="button is-primary is-rounded" v-bind:disabled="validUsername" @click="createGame">Set up new game</button></p>
          <p><button class="button is-primary is-rounded" v-bind:disabled="validUsername" @click="codePrompt">Join game with code</button></p>
        </div>
      </div>
    </div>
  </section>
  </div>
</template>

<script>
import { mapMutations } from 'vuex';
export default {
  name: 'Welcome',
  data () {
    return {
      username: ''
    }
  },
  computed: {
    validUsername: function () {
      return this.username.length < 2
    }
  },
  methods: {
    ...mapMutations(['set_username']),
    ...mapMutations(['set_gamestate']),
    createGame () {
      this.set_username(this.username);
      this.set_gamestate('lobby');
      this.$socket.emit('createRoom', JSON.stringify({username : this.username, userid: this.$socket.id }));
    },
    joinGameRequest(code) {
      console.log(code);
      this.set_username(this.username);
      this.$socket.emit('joinRoom', JSON.stringify({'code': code, 'username' : this.username, 'userid': this.$socket.id }));     
    },
    codePrompt() {
      this.$buefy.dialog.prompt({
          message: `What's the room code?`,
          inputAttrs: {
              placeholder: 'e.g. ABCD',
              maxlength: 4
          },
          trapFocus: true,
          onConfirm: (value) => {this.joinGameRequest(value);
          }
      })
    }
  }  
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>

p {
  margin: 10px 0px;
 }
span.warningtext {
    color: #ff0000;
}

#inputpara {
     margin-top: 0px;
    margin-bottom: 30px;
}

#maintitle {
    margin-top: 0px;
    margin-bottom: 30px;
}

#namelabel {
    margin-top: 20px;
    margin-bottom: 10px;
}

.has-image-centered {
  margin-left: auto;
  margin-right: auto;
}

</style>
